
@{
    ViewBag.Title = "Australia";
}
<div class="jumbo">
    <h2>Australia Tips</h2>
    <p>
        <a href="http://www.bonditocoogeewalk.com.au/">Bondi to Cogee Walk</a> &ndash; A beautiful self-guided walk down
        the coast. It&rsquo;s just a walking path.
    </p>
    <p>
        <a href="http://www.bridgeclimb.com/">Harbour Bridge Climb</a> &ndash; Climb atop Sydney&rsquo;s most famous
        bridge to see the city like nowhere else. A little pricey but a lot of people have recommended it.
    </p>
    <p>
        <a href="http://www.sydneyoperahouse.com/whatson/soh_tour_english_2013.aspx">Sydney Opera House</a> &ndash; The
        most famous landmark in Sydney. We could see a show or just do a tour. Up to you.
    </p>
    <p>
        <a href="http://www.manlyaustralia.com.au/info/manly-ferry/">Manly Ferry/Beach</a> &ndash; Manly beach is amazing
        and the surrounding area is filled with bars and restaurants. This would take up the majority of a day. The
        ferry there and back is a mini sightseeing tour in and of itself.
    </p>
    <p>
        <a href="http://theaustralianexplorer.com.au/sydney-bondi-explorer.html">Sydney Bus Tours</a> - Highly recommended
        as it takes you all over the city and even out to Bondi. Hop on/Hop off style so you can wander if you like
        a stop.
    </p>
    <p>
        <a href="https://www.captaincook.com.au/sydney-harbour-cruises/hop-on-hop-off/">Sydney Boat Tours</a> &ndash;
        Just like the bus tours, the boat tours allow you to get off at stops and explore. A great way to maneuver
        around the water and hit the main points of interest. Could be a good way to see Manly, too.
    </p>
    <p>
        <a href="https://taronga.org.au/taronga-zoo">Taronga Zoo</a> &ndash; One of my favourites. A great place to see
        all the local animals that the US doesn&rsquo;t have.
    </p>
    <p>
        <a href="http://www.therocks.com/">The Rocks</a> &ndash; Located right in the harbour, the Rocks is an area with
        numerous restaurants, a famous market and Australia&rsquo;s oldest pubs.
    </p>
    <p>
        <a href="http://www.darlingharbour.com/">Darling Harbour</a> &ndash; Like the Rocks, DH is another touristy area
        on the water that has a ton of restaurants and bars. Also has a Ferris wheel, an enormous fish market with
        tons of fresh seafood, and a casino.
    </p>
    <p><a href="http://sydneyseaplanes.com/">Sydney Seaplanes</a> &ndash; Name says it all.</p>
    <p>
        <a href="http://www.featherdale.com.au/">Featherdale Wildlife Park</a> &ndash; Never been here but it comes highly
        recommended. Basically it is an animal park where all of the animals are loose and you can interact with
        them. All of the Australian animals will be there. It is a little bit of a drive but definitely doable.
    </p>
    <p>
        <a href="http://www.explorerbus.com.au/">Blue Mountains</a> &ndash; A national park that has a bunch of beautiful
        views and is much different from the water you get all around the city. They have a similar bus tour to all
        the attractions which lets you hop on/off at will. A train will take us directly up there if you&rsquo;d
        like to go.
    </p>
    <p>
        <a href="http://www.visitnsw.com/destinations/hunter/hunter-valley">Hunter Valley</a> &ndash; Australia is known
        for its wine and HV is the closest region to the city.
    </p>
</div>
